#  Interactive Narrator Requirements: install with `pip install -r requirements.txt`.
#
#
Flask
Flask-Login
Flask-Script
Flask-SQLAlchemy
SQLAlchemy
WTForms
passlib==1.7.1
flask_mail
flask_security

# Visual Narrator Requirements
numpy==1.12.1
pandas==0.19.2
spacy==1.8.2
Jinja2>=2.10.1
django>=1.11.19
