/*CSS document for Visual Narrator*/

/* body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
} */

header {
    background-color: rgb(51, 47, 48);
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    overflow: visible;
    z-index: 1;
}

nav#nav-down {
    width: 250px;
    margin: auto;
}

#nav-down > ul {
    margin-bottom: 0px;
}

#nav-down li {
    float: left;
    list-style: none;
    /*line-height: 40px;*/
    height: 40px;
    /*padding-top: 5px;*/

}

#nav-down li a {
    color: rgb(133, 134, 133);
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 5px 10px;
    text-align: center;
    height: inherit;
    border-left: 1px solid rgb(66, 66, 66);
    border-right: 1px solid rgb(66, 66, 66);
}

#nav-down li a:hover {
    color: #fff;
    background: rgb(236, 195, 72);
}

#topbar-button {
    width: 75px;
    height: 25px;
    background-color: inherit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

#topbar-button > a {
    color: rgb(236, 195, 72);
    padding: 5px 5px 5px 10px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -4px;
    font-weight: 600;
}

.topbar-icon {
    /*float:left;*/
    padding-left: 4px;
    /*clear:left;*/
}

.nav-up {
    top: -40px;
}

#vis-wrapper {
    /*padding-top:40px;*/
    /*height:100%;*/
}

#visualization {
    height: 98vh;
    /*max-height: 1050px;*/
    border: 1px solid grey;
    /*     border-left: 5px solid rgb(236, 195, 72); */
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px;
    box-shadow: 0 0 10px #333;
    background-color: #ffffff;

}

body {
    background-color: rgb(210, 210, 210);
    height: 98vh;
}

#vis-wrapper {
    margin: 8px 10px 10px 10px;
}

/*Styles for the profile page*/
#content-wrapper {
    width: 85%;
    margin-top: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#content-container {
    background-color: white;
}

#userstoryinfo{
    /*display: none;*/
    /*width: auto;*/
    /*max-height:10%;*/
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    /*bottom: 15px;*/
    /*!*margin: 0px 10px 5px 10px;*!*/
    /*position: absolute;*/
    /*!*font: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*!*/
    /*font-weight: 500;*/
    /*!*background-color: rgba(251,247,255,0.49);*!*/
    /*border: 1px solid rgba(66, 179, 244, 0.49);*/
    /*border-radius: 5px;*/
    /*background-color: rgba(45, 174, 248, 0.17);*/

}

#userstorytable{
    margin:5px;
    empty-cells: hide;
    display: block;
    width: auto;
    max-height:20%;
    overflow: scroll;
    overflow-x: hidden;
    bottom: 15px;
    margin: 0px 20px 5px 10px;
    position: absolute;
    /*font: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*/
    font-weight: 500;
    /*background-color: rgba(251,247,255,0.49);*/
    border: 1px solid rgba(66, 179, 244, 0.49);
    border-radius: 5px;
    -moz-border-radius:6px;
    /*background-color: rgba(45, 174, 248, 0.17);*/
    background-color: rgb(212,239,255);
    padding: 5px 10px 0px 0px;
}

#userstorytable tr, td{
    /*margin: 10px;*/
    padding: 5px 10px 0px 5px;


}

/*#userstorytable tbody{*/
    /*display: block;*/
    /*max-height: 15%;*/
    /*overflow-y: scroll;*/
/*}*/

/*FORM CSS*/

#uploadform{

    margin: auto;
    width: 80%;
}

#uploadform #company_name, #company_id, #sprint_id, #sprint_name{
    width: 40%;
    margin-top: 2px;
}

#uploadform #submit{
    width:10%
}

#uploadform p{
    margin-bottom: 0px;
}

p#mandatory{
    margin-top: 10px;
    font-style: italic;
}