/*CSS document for Visual Narrator*/

/* body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
} */


body {
    /*background-color: #FFFFFF;*/
    background-color:#332F30;
    /*background-color: rgb(230, 230, 230);*/
    /*background-image: url("/static/img/Blurred-Background-23.jpg");*/
    /*background-position: right top;*/
    height: 98vh;
    /*font-family: "Open Sans", sans-serif;*/
    /*padding-top: 70px;*/
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
    margin-top: -40px;
}

#main-nav{
    height: 50px;
    transition: top 0.2s ease-in-out;
    background-color: #332f30;
}

.navbar-header > a.navbar-brand{
    padding-left: 50px;
    font-weight: 400;
}
#main-navbar-header{
    padding-left: 40px;
}

#topbar-button {
    width: 75px;
    height: 25px;
    background-color: inherit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*top: 50px;*/
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

#topbar-button > a {
    color: rgb(236, 195, 72);
    padding: 5px 5px 5px 10px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -4px;
    font-weight: 600;
}

.topbar-icon {
    /*float:left;*/
    padding-left: 4px;
    /*clear:left;*/
}

.nav-up {
    top: -50px;
}

#navbar-items{
    width: 300px;
    margin: auto;
}
.navbar-inverse .navbar-brand{
    color:#ECC348;

}
.navbar-inverse .navbar-nav > li > a{
    color:rgb(177, 178, 177);
    font-weight: 600;
}

#useraccountitems #vis_url{
    color: rgb(236, 195, 72);
    font-weight: 600;
}

/*#vis_url a:hover{*/
    /*color: #FFFFFF;*/
/*}*/

#useraccountitems{
    padding-right: 75px;
}
#useraccountitems a{
    font-weight: 600;
    color:rgb(177, 178, 177);
}

#useraccountitems a:hover{
    color: #FFFFFF;
}

#vis-wrapper {
    /*padding-top:40px;*/
    /*height:100%;*/
}

#navbar.navbar-collapse.collapse.in{
    background-color: #333;
}
/* ####VISUALIZATON STYLING####*/
#visualization {
    height: 98vh;
    margin-top: 50px;
    /*max-height: 1050px;*/
    border: 1px solid grey;
    /*     border-left: 5px solid rgb(236, 195, 72); */
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px;
    box-shadow: 0 0 10px #333;
    background-color: #ffffff;

}

.vis-network>canvas{
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    border: 1px solid white;
    /*border: 0;!important;*/
    /*-webkit-touch-callout:none; !important;*/
    /*-webkit-user-select: none; !important;*/
    /*-khtml-user-select: none;!important;*/
    /*-moz-user-select: none;!important;*/
	/*-ms-user-select: none;!important;*/
	/*user-select: none;!important;*/
   /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); !important;!* mobile webkit *!*/

    /*webkit-tap-highlight-color: rgba(255, 255, 255, 0);*/
    /*webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    /*border-style:;*/
}

#main{
    /*background-color: #FFFFFF;*/
    background-color: #332F30;
    min-height: 100vh;
}

.container-fluid{
 /*margin-top: 50px;*/
}

#showcase-row{
    margin-top: 30px;
    background-color:#332F30;
}
#slogan-row{
    background-color:#332F30;
    height: 50px;
    margin: 30px 0px 30px 0px;
}
h2#slogan{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: 500;
    color: #ECC348;
    text-align: center;

}
#intro-left{
    color: #FFFFFF;
    padding-right:10px;
}
#intro-text-left{
    padding: 50px 10px 50px 50px;
}
h2#intro-text-left-slogan{
    color: #ECC348;
}

#intro-text-left ul > li{
    padding-right: 0;
}

#intro-text-left{
    font-size: 16px;
    font-weight: 600;
}

#intro-text-left a.btn-info{
    background-image: linear-gradient(to bottom, #378CFF 0px, #2aabd2 100%);
    background-color: #378CFF;
}

#intro-text-left > ul{
    padding-bottom: 20px;
}
#introtext-row{
    /*display: flex;*/
    margin-top: 20px;
}
#introtext-row p{
    color: #FFFFFF;
    font-weight: 600;
}
#introtext-row .btn{
    background-color: #332F30;
    color: #ECC348;
}

#introtext-row a:hover{
    color: #FFFFFF;
}

#introtext-row h3{
    color: #FFFFFF;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: 600;
    margin-top: 0;
}
#qus-introtext, #aqusa-introtext, #vn-introtext, #in-introtext{
    /*border: 1px solid silver;*/
    padding: 30px 40px 30px 40px;
    /*align-items: stretch;*/
}
#qus-introtext{
    background-color: #ECC348;
}
#aqusa-introtext{
    background-color: #378CFF;
}
#vn-introtext{
    background-color: #ECC348;
}
#in-introtext{
    background-color: #378CFF;
}

#vis-wrapper {
    margin: 8px 10px 10px 10px;
}

/*Styles for the profile page*/
#content-wrapper {
    width: 85%;
    margin-top: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/*.content{*/
    /*background-color: #f8f8f8;*/
    /*box-shadow: 0px 10px 10px 10px #888888;*/
    /*padding-bottom: 20px;*/
    /*padding-top: 70px;*/
    /*min-height: 100vh;*/
/*}*/

/* ####HOMEPAGE####*/
#intro-left{
    /*border: 1px solid silver;*/
    /*height: 400px;*/
}

#welcome-content .page-header{
    /*padding-top: 70px;*/
    margin-top: 10px;
}

#main-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#homepage-slider{
    margin-bottom: 20px;
}

#homepage-slider .carousel-control{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, transparent 100%);
    opacity: 1;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#userstoryinfo{
    /*display: none;*/
    /*width: auto;*/
    /*max-height:10%;*/
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    /*bottom: 15px;*/
    /*!*margin: 0px 10px 5px 10px;*!*/
    /*position: absolute;*/
    /*!*font: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*!*/
    /*font-weight: 500;*/
    /*!*background-color: rgba(251,247,255,0.49);*!*/
    /*border: 1px solid rgba(66, 179, 244, 0.49);*/
    /*border-radius: 5px;*/
    /*background-color: rgba(45, 174, 248, 0.17);*/

}

#userstorytable{
    margin:5px;
    empty-cells: hide;
    display: block;
    width: auto;
    max-height:20%;
    overflow: scroll;
    overflow-x: hidden;
    bottom: 15px;
    margin: 0px 20px 5px 10px;
    position: absolute;
    /*font: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;*/
    font-weight: 500;
    /*background-color: rgba(251,247,255,0.49);*/
    border: 1px solid rgba(66, 179, 244, 0.49);
    border-radius: 5px;
    -moz-border-radius:6px;
    /*background-color: rgba(45, 174, 248, 0.17);*/
    background-color: rgb(212,239,255);
    padding: 5px 10px 0px 0px;
}

#userstorytable tr, td, th{
    /*margin: 10px;*/
    padding: 5px 10px 0px 5px;


}

#helpModal{
    /*z-index: 1000;*/
}

/*#userstorytable tbody{*/
    /*display: block;*/
    /*max-height: 15%;*/
    /*overflow-y: scroll;*/
/*}*/

/*FORM CSS*/

#uploadform{
    color:white;
    margin: auto;
    width: 80%;
}

#uploadform #company_name, #company_id, #sprint_id, #sprint_name{
    width: 40%;
    margin-top: 2px;
}

#uploadform #submit{
    width:15%
}

#uploadform p{
    margin-bottom: 0px;
}

p#mandatory{
    margin-top: 10px;
    font-style: italic;
}

ul.flashes li{
    color: #b93331;
}

.help-inline{
    color:#b93331;
}

.mandatory-sign{
    display: block;
    float: left;
}
/*#uploadform form .form-group{*/
    /*width: 70%;*/
/*}*/

/* ####LOGIN AND REGISTRATION PAGE####*/

p.error{
    color: #b93331;
}

.registration, .login {
margin: 100px auto;
width: 300px;
}

.registration{
    width:40%;
}

.registration-title, .login-title{
    text-align: center;
}

.login-form #submit{
   /*width:10%*/
}

.registration-form input, .login-form input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 400;
/*padding: 10px 0;*/
width: 250px;
transition: border .5s;
}

.registration-form input{
    width: 300px;
}

.registration-form .form-group{
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.login-form input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.registration-screen, .login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

button#login-submit, button#registration-submit, input#submit  {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  /*display: block;*/
  width: 250px;
  margin: 0 auto;
}
button#registration-submit{
    width: 300px;
}
input#accept_tos{
    /*width: 25px;*/
    /*float: left;*/
}

input#submit{
    width:100%;
}
/* ####DASHBOARD#### CSS*/

#db-records{
    padding: 10px 5px 5px 5px;
}

#db-sprint{
    margin-top: 20px;
}

#dashboard-set-buttons{
    padding: 50px 10px 10px 0px;
}
#dashboard-set-buttons > a{
    float: left;
    clear: left;
    display:inline;
    margin: 10px 10px 10px 10px;
}
a#logout-button{
    margin-top: 50px;
}

#user-info {
    color: #FFFFFF;
}