{% extends 'base.html' %}
{% from 'fields.html' import render_field %}
{% block title %} Contact {% endblock title %}
{% block main %}
    <div class="contact">
    <div class="contact-screen">
        	<div class="contact-title">
				<h1>Contact Us</h1>
			</div>



        <p>
            Interactive Narrator has been developed by:
        </p>
        <div id="contact-img-container">
            <div id="contact-img-box">
                <div class="contact-img-govert-jan">
                    <img id="img-govert-jan" src="img/govert-jan.jpg">
                    <p>Govert-Jan Slob</p>
                </div>
                <div class="contact-img-garm">
                    <img id="img-garm" src="img/garm.jpeg">
                    <p> Garm Lucassen</p>
                </div>
            </div>
        </div>


        {% if success %}
            <p class="confirm-success">Thank you for your message. We'll get back to you shortly.</p>
        {% endif %}


        <form class="registration-form" action="{{ url_for('contact') }}" method="post" enctype=multipart/form-data name="submit">

            {{ render_field(form.name, maxlength=255, placeholder="your name") }}
            {{ render_field(form.company_name, maxlength=255, placeholder="your company") }}
            {{ render_field(form.email, maxlength=255, placeholder="your e-mail adress") }}
            {{ render_field(form.subject, placeholder="your subject") }}
            {{ render_field(form.message, placeholder="your message to us") }}


{#            {{ render_field(form.confirm, maxlength=255, placeholder="your password again") }}#}

            {# {{ render_field(form.accept_tos, maxlength=255, placeholder="") }}#}


            <div class="form-group">
                {{ form.submit }}
                {#
                <button id=registration-submit type="submit" value="Sign Up" class="btn btn-default">Sign Up</button>
                #}
            </div>
            {% if error %}
            <p class="error"><strong>Error: </strong>{{error}}</p>
            {% endif %}
        </form>


        {# MESSAGE FLASHING#}
        {# {% with messages = get_flashed_messages() %}#}
        {# {% if messages %}#}
        {#
        <ul class=flashes>#}
            {# {% for message in messages %}#}
            {#
            <li>{{ message }}</li>
            #}
            {# {% endfor %}#}
            {#
        </ul>
        #}
        {# {% endif %}#}
        {# {% endwith %}#}

    </div>
</div>
{% endblock main %}