{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} Dashboard {% endblock title %}
{% block main %}
    <div id="user_info"></div>

    <h3>Dashboard</h3>
    <p>
    Welcome <strong>{{ username }}</strong>
    </p>

    <div id="db_records">
        <h5>Your Sprints:</h5>

        {% for sprint in sprints %}
            <div id="db_sprint">
        <strong>Sprint ID:</strong> {{ sprint.sprint_id }} <br>
        <strong>Sprint name:</strong> {{ sprint.sprint_name }} <br>
        <strong>Company name:</strong> {{ sprint.company_name }} <br>
        <strong>Company ID:</strong> {{ sprint.company_id }} <br>
            <a class="btn btn-default" href="/vis">Show</a>
            </div>
        {% endfor %}
    </div>

    <a class="btn btn-default" href="{{ url_for('form') }}"> Upload Set</a>

    <a class="btn btn-default" href="{{ url_for('clean_database') }}"> Clean Database</a>

    <a class="btn btn-default" href="{{ url_for('logout') }}">Log Out</a>

{#    <input id=logout type="submit" value="Logout" class="btn btn-primary btn-large btn-block" >#}

{% endblock main %}
