{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} Dashboard {% endblock title %}
{% block main %}
<div class="row"><!-- first row -->
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-1"></div><!-- empty column -->

    <div class="col-lg-4 col-md-6 col-sm-7 col-xs-6" id="user-info">
            <h3>Dashboard</h3>
        <p>Welcome <strong>{{ username }}</strong> from <strong> {{ company_name }}</strong></p>

        <div id="db-records">

            <h4>Your Sprints:</h4>

            {% for sprint in sprints | sort(attribute='sprint_id', reverse = True) %}
                <div id="db-sprint">
                    <strong>Sprint ID:</strong> {{ sprint.sprint_id_user }} <br>
                    <strong>Sprint name:</strong> {{ sprint.sprint_name }} <br>
                     <strong>User Stories:</strong> {{ sprint.user_story_count }} <br>
{#                    <a class="btn btn-warning" href="{{ url_for('delete_sprint', id=sprint.sprint_id) }}">Delete</a>#}

                </div>
            {% endfor %}
        </div>
    </div>

{#    <input id=logout type="submit" value="Logout" class="btn btn-primary btn-large btn-block" >#}
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5"><!-- buttons column -->
          <div id="dashboard-set-buttons">
                <a class="btn btn-default" href="/vis">Show Visualization</a>
                <a class="btn btn-success" href="{{ url_for('upload_form') }}"> Upload Set</a>
                <br>
                <a class="btn btn-warning" href="{{ url_for('delete_all') }}"> Delete All</a>
          </div>
    </div>

</div>
    <div class="row"><!-- second row -->
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-1"></div><!-- empty column -->
        <div class="col-lg-4 col-md-6 col-sm-7 col-xs-6"><!-- user names column -->

        </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5"></div><!-- empty column -->

    </div>

{% endblock main %}
