{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} Form {% endblock title %}
{% block main %}
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
             <div id="uploadform">

        <h3>Interactive Narrator</h3>
        <br>
        <h5>Instructions:</h5>
        <p>
            Welcome to the Interactive Narrator. To begin using the tool, please
            follow these instructions. .

            Please supply some information about your set of user stories below.
            Then upload your set of user stories in .txt or .csv format on this page
        </p>
        <p id="mandatory">All fields are mandatory.

        </p>

        <br>
        <form class="" action="" method="post" enctype=multipart/form-data name="submit">
{#            {{ render_field(form.company_name, maxlength=255, placeholder="the name of your company") }}#}
{#            {{ render_field(form.company_id, maxlength=255, placeholder="the ID of your company") }}#}
            {{ render_field(form.sprint_name, maxlength=255, placeholder="the name of your sprint") }}

{#            {{ render_field(form.sprint_id, maxlength=255, placeholder="the ID of your sprint") }}#}


            <br>
            <br>
            <h6>Upload your user stories in .txt or .csv format</h6>
            <input class="" type=file name=file>
            <br>


{#             template for how a message should be flashed#}
{#            {% with messages = get_flashed_messages() %}#}
{#              {% if messages %}#}
{#                <ul class=flashes>#}
{#                {% for message in messages %}#}
{#                  <li>{{ message }}</li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#              {% endif %}#}
{#            {% endwith %}#}

{#            {% if form.errors %}#}
{#                <ul class=errors>#}
{#                {% for error in form.errors %}#}
{#                  <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#              {% endif %}#}

            {{ form.submit }}
           {% if error %}
                <p class="error"><strong>Error: </strong>{{error}}</p>
		   {% endif %}
        </form>


        <br>
        <br>
    </div>

        </div>
        <div class="col-lg-3">

        </div>
    </div>

{% endblock main %}
