{% extends 'base.html' %}
{% block title %} Form {% endblock title %}
{% block main %}
    <div id="uploadform">

        <h3>Interactive Narrator</h3>
        <br>
        <h5>Instructions:</h5>
        <p>
            Welcome to the Interactive Narrator. To begin using the tool, please
            follow these instructions. .

            Please supply some information about your set of user stories below.
            Then upload your set of user stories in .txt or .csv format on this page

        <p id="mandatory">All fields are mandatory.
            Fields marked with a * should be a unique identifier: they can never already exist
            in the database.
        </p>
        </p>
        <br>
        <form action="" method="post" enctype=multipart/form-data name="submit">

            <p>Company Name:</p>
            {{ form.company_name(size=80) }}
            <p>Company Number:</p>
            {{ form.company_id(size=80) }}*<br>
            <p>Sprint name:</p>
            {{ form.sprint_name (size=80) }}<br>
            <p>Sprint number:</p>
            {{ form.sprint_id (size=80) }}*<br>
            <br>
            <br>
            <h6>Upload your user stories in .txt or .csv format</h6>
            <input class="" type=file name=file>
            <br>

            {{ form.submit }}
        </form>
        <br>
        <br>
</div>
{% endblock main %}
