{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} Form {% endblock title %}
{% block main %}
    <div id="welcome-content">
    <div class="page-header">
        <h1 id="main-heading">Interactive Narrator</h1>
    </div>
                    <div id="homepage-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#homepage-slider" data-slide-to="0" class="active"></li>
                <li data-target="#homepage-slider" data-slide-to="1" class=""></li>
                <li data-target="#homepage-slider" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="static/img/slider_few_nodes.png" alt="">
                    <div class="slide1"></div>
                    <div class="carousel-caption">
                        <h4>Interactive Narrator</h4>
                        <p>...is awesome!</p>
                    </div>
                </div>
                 <div class="item">
                     <img src="static/img/slider_many_nodes.png" alt="">
                    <div class="slide2"></div>
                    <div class="carousel-caption">
                        <h4>Interactive Narrator</h4>
                        <p>...is awesome!</p>
                    </div>
                </div>
                 <div class="item">
                     <img src="static/img/slider_zoomed_in.png" alt="">
                    <div class="slide3"></div>
                    <div class="carousel-caption">
                        <h4>Interactive Narrator</h4>
                        <p>...is awesome!</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#homepage-slider" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left "></span>
            </a>
            <a class="right carousel-control" href="#homepage-slider" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="jumbotron">
        <p>Visualize your user stories to improve understanding of the project and improve
            communication among stakeholders.</p>
        <p>Interactive Narrator is a tool that helps stakeholders in software development make their
        requirements visual. Upload your user stories and Interactive Narrator will transform the natural
        language into an interactive visualization</p>
            <a href="/register" class="btn btn-md btn-success">Sign Up</a>
            <a href="https://github.com/Gionimo/InteractiveNarrator" class="btn btn-md btn-info">GitHub</a>
        </div>

{#        <p><a href="https://github.com/Gionimo/InteractiveNarrator">GitHub Page</a></p>#}



{#    <img src="img/Screenshot%20Interactive%20Narrator2.png" width="80%" height="">#}

    </div>

{% endblock main %}
