{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} Form {% endblock title %}
{% block main %}
    <div id="">
    <h3>Welcome to Interactive Narrator</h3>
    <p>Visualize your user stories to improve understanding of the project,
        inspect system functionality and improve communication among stakeholders.</p>
        <p>Interactive Narrator is a tool that helps stakeholders in software development make their
        requirements visual. Upload your user stories and Interactive Narrator will transform the natural
        language into an interactive visualization</p>
        <p><a href="https://github.com/Gionimo/InteractiveNarrator">GitHub Page</a></p>



    <img src="static/img/Screenshot%20Interactive%20Narrator2.png" width="80%" height="">

    </div>
{% endblock main %}
