{% extends 'base.html' %}
{% block title %} Form {% endblock title %}
{% block main %}

{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

    <form class="" action="/login" method="post" enctype=multipart/form-data name="loginform">
{#        {{ render_field(form.username, maxlength=255, placeholder="your e-mail adress") }}#}
{#        {{ render_field(form.password, maxlength=255, placeholder="your password") }}#}
{#        {{ form.submit }}#}
{#     <div class="form-group">#}
{#  <dt><label for="Username">Username</label>#}
{#  <dd><input id="username" maxlength="255" name="username" placeholder="your e-mail" type="text" value="">#}
{##}
{#  </dd>#}
{#    </div>#}
{##}
{#    <div class="form-group">#}
{#  <dt><label for="password">Password</label>#}
{#  <dd><input id="password" maxlength="255" name="password" placeholder="your password" type="text" value="">#}
{##}
{#  </dd>#}
{#    </div>#}
{#        <input id="submit" name="submit" type="submit" value="Login">#}
    <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username, not email" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input id=submit type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
    </form>
{% endif %}


{#  MESSAGE FLASHING  #}
{#    {% with messages = get_flashed_messages() %}#}
{#  {% if messages %}#}
{#    <ul class=flashes>#}
{#    {% for message in messages %}#}
{#      <li>{{ message }}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#  {% endif %}#}
{#{% endwith %}#}

{% endblock main %}