{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} 404 error {% endblock title %}
{% block main %}
<div class="row"><!-- first row -->
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-1"></div><!-- empty column -->

    <div class="col-lg-4 col-md-6 col-sm-7 col-xs-6" id="error-message">
        <h2>404</h2>
        <h3>Sorry, we cannot find this page on our server. Perhaps someone changed the page's URL.</h3>
        <h5>Please return to the homepage <a href="/">here.</a></h5>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5"><!-- buttons column -->

    </div>

</div>
    <div class="row"><!-- second row -->
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-1"></div><!-- empty column -->



        <div class="col-lg-4 col-md-6 col-sm-7 col-xs-6"><!-- user names column -->


        </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5"></div><!-- empty column -->

    </div>

{% endblock main %}