 {% extends 'base.html' %}
{% from 'fields.html' import render_field %}
{% block title %} Reset Password {% endblock title %}
{% block main %}

    <div class="login">
    <div class="login-screen">
        <div class="login-title">
				<h1>Reset Password</h1>
			</div>
        <form class="login-form" action="{{ url_for('reset_with_token', token=token) }}" method="POST">

    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.password, placeholder="Enter New Password") }}
    </dl>
{#        <button class="btn btn-sm btn-success" type="submit">Update</button>#}
            <button id=login-submit type="submit" value="Update Password" class="btn btn-default">Reset Password</button>
        </form>
    </div>
    </div>
{% endblock main %}