{% extends 'base.html' %}
{% from 'fields.html' import render_field %}
{% block title %} Reset Password {% endblock title %}
{% block main %}

{#{% if session['logged_in'] %}#}
{#    <p>You're logged in already!</p>#}
{#{% else %}#}

    <div class="login">
		<div class="login-screen">
			<div class="login-title">
				<h1>Reset Password</h1>
			</div>

			<form class="login-form" action="/resetpassword" method="post" enctype=multipart/form-data name="resetpassword">
				    {{ render_field(form.email, maxlength=255, placeholder="your e-mail adress") }}
{#                    {{ render_field(form.password, maxlength=255, placeholder="your password") }}#}
{#                    {{ render_field(form.remember) }}#}

                <div class="form-group">
                    <button id=login-submit type="submit" value="Reset Password" class="btn btn-default">Reset Password</button>
                </div>

                {% if confirmation %}
			        <p class="confirm-success"><strong>Success:</strong>{{confirmation}}</p>
		        {% endif %}

                {% if error %}
			        <p class="error"><strong>Error: </strong>{{error}}</p>
		        {% endif %}
            </form>

		</div>
	</div>
{#    </form>#}
{#{% endif %}#}


{#  MESSAGE FLASHING  #}
{#    {% with messages = get_flashed_messages() %}#}
{#  {% if messages %}#}
{#    <ul class=flashes>#}
{#    {% for message in messages %}#}
{#      <li>{{ message }}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#  {% endif %}#}
{#{% endwith %}#}

{% endblock main %}