{% extends 'base.html' %}
{% from 'fields.html' import render_field %}

{% block title %} Form {% endblock title %}
{% block main %}
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
             <div id="uploadform">

                <h3>Upload User Stories</h3>
                <br>
                <h4>Instructions:</h4>
                <p>
                    Please supply a name for your set of user stories below. This name should be a unique identifier
                    for this particular set of stories and is considered a sprint. Naming example: Sprint3.

                    Then upload your set of user stories in .txt or .csv format on this page and click send. It can take
                    several seconds to process your file, please be patient.

                    Want to update existing user stories? Delete them from the dashboard and upload the updated stories again.

                </p>
                <p id="note">
                    Note: Interactive Narrator can only handle high quality user stories in the format: "As a {role},
                    I want to {action}, (so that {some reason})". Providing the {some reason} is optional.
                </p>

                <form id="uploadform-form" action="" method="post" enctype=multipart/form-data name="submit">

                    {{ render_field(form.sprint_name, maxlength=255, placeholder="the name of your sprint") }}
                    <h6>Upload your user stories in .txt or .csv format</h6>
                    <input class="" type=file name=file>
                    <br>


        {#             template for how a message should be flashed#}
        {#            {% with messages = get_flashed_messages() %}#}
        {#              {% if messages %}#}
        {#                <ul class=flashes>#}
        {#                {% for message in messages %}#}
        {#                  <li>{{ message }}</li>#}
        {#                {% endfor %}#}
        {#                </ul>#}
        {#              {% endif %}#}
        {#            {% endwith %}#}

        {#            {% if form.errors %}#}
        {#                <ul class=errors>#}
        {#                {% for error in form.errors %}#}
        {#                  <li>{{ error }}</li>#}
        {#                {% endfor %}#}
        {#                </ul>#}
        {#              {% endif %}#}

                    {{ form.submit }}

                   {% if error %}
                        <p class="error"><strong>Error: </strong>{{error}}</p>
                   {% endif %}
                </form>


        <br>
        <br>
             </div>

        </div>
        <div class="col-lg-3">

        </div>
    </div>

{% endblock main %}
